<h1 style="color: #0098a5;">Advanced Data Analytics</h1>
## Workshop #1

**Michael Steven Medina Fernández *0000296297***  
**Ana María Chaves Pérez *0000298879***

## Excercise #1