# Advanced Data Analytics
## Workshop #1

Michael Steven Medina Fernández 0000296297  
Ana María Chaves Pérez 0000298879