<h1 style="color: #0098a5;">Advanced Data Analytics</h1>
<h2>Workshop #1</h2>

**Michael Steven Medina Fernández *0000296297***  
**Ana María Chaves Pérez *0000298879***

## Exercise #1

*Explores Python concepts with creative and practical tasks*

1. Write a function ***char_count(s: str) -> dict[str, int]*** that returns a dictionary
mapping each character in the string s to its frequency.

In [497]:
def char_count(s:str):
    wordchar = {}  # Empty dictionary to store each character and its frequency
    
    # Iterate through each character in the string
    for i in s:
        # If the character is already in the dictionary, increase its count by 1.
        # If it's not in the dictionary, initialize it with 0 and then add 1.
        wordchar[i] = wordchar.get(i, 0) + 1  
    
    return wordchar  # Return the dictionary containing character frequencies

2. Write a function ***generate_primes(n: int) -> list[int]*** that generates a list of all
prime numbers less than or equal to n. (5 points)

In [498]:
# Function that checks if a number is prime
def generate_primes(n: int):
    # Checking if the number is less than 2, if it is the case them are NOT prime numbers
    if n < 2:
        return False
    
    # Checking divisor from 2 to the sqaure root of n
    for i in range(2, int(n**0.5) + 1):
        # Checking the modules of the numbers 
        if n % i == 0:
            return False
    return True
    
# Generation of the list that show the prime numbers less or equal
primes = [x for x in range(2, 20) if generate_primes(x)]

# Imprimir los resultados
print(f"This is the list of all prime numbers less or equal to {20}: {primes}")

This is the list of all prime numbers less or equal to 20: [2, 3, 5, 7, 11, 13, 17, 19]

3. Write a function ***is_prime(n: int) -> bool*** that checks whether a given number n is
a prime number. Return True if n is prime, False otherwise. (5 points)

In [499]:
def is_Prime(n:int):
    # 0 and 1 are not prime numbers.
    if n == 0 or n == 1:
        return False  
    # Check divisibility 
    for i in range(2, n):
        # If n is divisible by any number in this range, it's not prime.
        if n % i == 0:
            return False  
    
    # If no divisors were found, the number is prime
    return True

### tests

In [500]:
from sergioamar.unisabana.I import test_exercise_1,test_exercise_2,test_exercise_3,test_exercise_4,test_exercise_5

test_exercise_1(
    char_count=char_count,
    generate_primes=generate_primes,
    is_prime=is_Prime
)

3.33

## Exercise #2

*Problems to understand and tackle the basics of mathematical opera-
tions in Python*

1. Write a function ***factorial(n: int) -> int*** that calculates the factorial of a given
number n iteratively. (5 points)

In [501]:
# Definition of the function that verify a factorial number
def factorial(n):
    # Verification if the number is 0 or 1 because its factorial is 1
    if n == 0 or n == 1:
        return 1
    # All the other verifications with a recursive call
    else:
        # Multiplies n by factorial of n-1
        return n*factorial(n-1)

2. Write a function ***fibonacci(n: int) -> list[int]*** that generates a list containing the
first n numbers in the Fibonacci sequence. (5 points)

In [502]:
def fibonacci(n: int):
    numbers = []  # Initialize an empty list to store Fibonacci numbers
    a, b = 0, 1   # Initialize the first two Fibonacci numbers

    # Loop 'n' times to generate Fibonacci numbers
    for i in range(n):
        numbers.append(a)  # Append the current value of 'a' to the list
        a, b = b, a + b    # Update 'a' and 'b' to the next Fibonacci numbers

    return numbers  # Return the list containing Fibonacci sequence

3. Write a function ***sum_naturals(n: int) -> int*** that calculates the sum of the first n
natural numbers. (5 points)

In [503]:
def sum_naturals(n: int):
        if n < 1: 
            return False
        else: 
            return n * (n + 1) // 2

### tests

In [504]:
test_exercise_2(
    factorial=factorial,
    fibonacci=fibonacci,
    sum_naturals=sum_naturals
)

5.0

## Exercise #3

*Problems to understand and tackle the basics of statistical operations
in Python*

1. Write a function ***calculate_stats(data: list[float]) -> tuple[float, float, float]***
that calculates the mean, median, and mode of a given list of numbers. (5 points)

In [505]:
def calculate_stats(data:list[float]):
    
    #Mean Calculation
    mean = sum(data) / len(data)
    
    #Median Calculation
    sorted_list = sorted(data)
    n = len(data)
    if n % 2 == 1:  # Odd length -> middle value
        median = sorted_list[n // 2]
    else:  # Even length -> average of two middle values
        median= (sorted_list[n // 2 - 1] + sorted_list[n // 2]) / 2
    
    #Mode Calculation
    frequency= {} 
    for i in data:
        frequency[i] = frequency.get(i, 0) + 1 
    maxf = max(frequency.values())
    mode_candidates = [key for key, value in frequency.items() if value == maxf] 
        
    mode= mode_candidates[0] if len(mode_candidates) == 1 else list(frequency.keys())[0]
        
    
    return mean,median,mode

2. Write a function ***variance_and_std(data: list[float]) -> tuple[float, float]*** that
calculates the variance and standard deviation of a dataset. (5 points)

In [506]:
def varianza_and_std(data: list[float]):
    
    return 1,1,1

3. Write a function ***weighted_mean(data: list[float], weights: list[float]) -> float***
that calculates the weighted mean of a dataset data given a corresponding list of weights
weights. Ensure both lists have the same length. (5 points)

In [507]:
def weighted_mean(data: list[float], weights: list[float]):
    # Ensure both lists have the same length
    if len(data) != len(weights):
        raise ValueError("The lists' sizes have to be the same")

    # Initialize variables to store the weighted sum and total weight
    weighted_sum = 0  
    total_weight = 0  

    # Iterate through the data list using an index
    for i in range(len(data)):
        weighted_sum += data[i] * weights[i]  # Multiply each value by its weight and accumulate
        total_weight += weights[i]  # Accumulate the total weight

    # Prevent division by zero by ensuring the total weight is not zero
    if total_weight == 0:
        raise ValueError("The sum of the weights cannot be zero")

    return weighted_sum / total_weight

### tests

In [508]:
test_exercise_3(
    calculate_stats=calculate_stats,
    variance_and_std=varianza_and_std,
    weighted_mean=weighted_mean
)

3.33

## Exercise #4

*Analytical problems to develop problem-solving and logical reasoning
in Python*

1. Write a function ***is_palindrome(s: str) -> bool*** that checks if a given string s is a
palindrome. Return True if it is, False otherwise. (5 points)

In [509]:
def is_palindrome(s:str):
    return 2

2. Write a function ***reverse_words(sentence: str) -> str*** that reverses the words in a
sentence while preserving their order. (5 points )

In [510]:
def reverse_words(sentence:str):
    # Split the sentence into a list of words (removing extra spaces)
    sentenceSplit = sentence.split()
    # Reverse the order of the words in the list
    reversed_sentence = sentenceSplit[::-1]
    # Join the words back into a string with spaces in between
    return " ".join(reversed_sentence)

3. Write a function ***find_longest_word(words: list[str]) -> str*** that returns the longest
word from a list of strings. If there is a tie, return the first one. (5 points)

In [511]:
def find_longest_word(words:list[str]):
    return 1

### tests

In [512]:
test_exercise_4(
    is_palindrome=is_palindrome,
    reverse_words=reverse_words,
    find_longest_word=find_longest_word
)

1.67

## Exercise #5

*Intermediate-level problems to reinforce Python concepts*

1. Write a function ***remove_duplicates(data: list[int]) -> list[int]*** that removes
duplicates from a list while preserving the order of elements. (5 points)

In [513]:
def remove_duplicates(data:list[int]):
    finalL = []  # Create an empty list to store unique values

    # Iterate through the input list
    for i in data:
        if i not in finalL:  # Check if the element is not already in finalL
            finalL.append(i)  # Add the unique element to finalL

    return finalL  # Return the list with duplicates removed

2. Write a function ***group_by_key(data: list[tuple[str, int]]) -> dict[str, list[int]]***
that groups values in data by their keys. For example, the input [(’a’, 1), (’b’, 2),
(’a’, 3)] results in the dictionary {’a’: [1, 3], ’b’: [2]}. (5 points)

In [514]:
def group_by_key(data: list[tuple[str,int]]):
    return 1

3. Write a function ***flatten_list(nested_list: list[list[int]]) -> list[int]*** that
flattens a nested list of integers into a single list. For example, [[1, 2], [3, 4]] becomes
[1, 2, 3, 4]. (5 points)

In [515]:
def flatten_list(nested_list:list[list[int]]):
    
    flattened = []  # Create an empty list to store elements

    for sublist in nested_list:  
        flattened.extend(sublist)  # Add all elements from the sublist

    return flattened  # Return the flattened list

### tests

In [516]:
test_exercise_5(
    remove_duplicates=remove_duplicates,
    group_by_key=group_by_key,
    flatten_list=flatten_list
)

3.33