<h1 style="color: #0098a5;">Advanced Data Analytics</h1>
<h2>Workshop #1</h2>

**Michael Steven Medina Fernández *0000296297***  
**Ana María Chaves Pérez *0000298879***

## Exercise #1

*Explores Python concepts with creative and practical tasks*

1. Write a function ***char_count(s: str) -> dict[str, int]*** that returns a dictionary
mapping each character in the string s to its frequency.

In [46]:
def char_count(s:str):
    wordchar = {}
    for i in s:
        wordchar[i] = wordchar.get(i,0) + 1
    return wordchar

2. Write a function ***generate_primes(n: int) -> list[int]*** that generates a list of all
prime numbers less than or equal to n. (5 points)

In [47]:
# Function that checks if a number is prime
def generate_primes(n: int):
    # Checking if the number is less than 2, if it is the case them are NOT prime numbers
    if n < 2:
        return False
    
    # Checking divisor from 2 to the sqaure root of n
    for i in range(2, int(n**0.5) + 1):
        # Checking the modules of the numbers 
        if n % i == 0:
            return False
    return True
    
# Generation of the list that show the prime numbers less or equal
primes = [x for x in range(2, 20) if generate_primes(x)]

# Imprimir los resultados
print(f"This is the list of all prime numbers less or equal to {20}: {primes}")

This is the list of all prime numbers less or equal to 20: [2, 3, 5, 7, 11, 13, 17, 19]

3. Write a function ***is_prime(n: int) -> bool*** that checks whether a given number n is
a prime number. Return True if n is prime, False otherwise. (5 points)

In [48]:
def is_Prime(n:int):
    if n == 0 or n==1:
        return False
    for i in range (2,n):
        if n % i == 0:
            return False
    return True

In [49]:
## test Exercise #1

from sergioamar.unisabana.I import test_exercise_1,test_exercise_2,test_exercise_3,test_exercise_4,test_exercise_5

test_exercise_1(
    char_count=char_count,
    generate_primes=generate_primes,
    is_prime=is_Prime
)

3.33

## Exercise #2

*Problems to understand and tackle the basics of mathematical opera-
tions in Python*

1. Write a function ***factorial(n: int) -> int*** that calculates the factorial of a given
number n iteratively. (5 points)

In [50]:
# Definition of the function that verify a factorial number
def factorial(n):
    # Verification if the number is 0 or 1 because its factorial is 1
    if n == 0 or n == 1:
        return 1
    # All the other verifications with a recursive call
    else:
        # Multiplies n by factorial of n-1
        return n*factorial(n-1)

2. Write a function ***fibonacci(n: int) -> list[int]*** that generates a list containing the
first n numbers in the Fibonacci sequence. (5 points)

In [51]:
def fibonacci(n: int):
    numbers = [] 
    a, b = 0, 1 

    for i in range(n):
        numbers.append(a) 
        a, b = b, a + b    

    return numbers

3. Write a function ***sum_naturals(n: int) -> int*** that calculates the sum of the first n
natural numbers. (5 points)

In [52]:
def sum_naturals(n: int):
        if n < 1: 
            return False
        else: 
            return n * (n + 1) // 2

In [53]:
test_exercise_2(
    factorial=factorial,
    fibonacci=fibonacci,
    sum_naturals=sum_naturals
)

5.0

## Exercise #3

*Problems to understand and tackle the basics of statistical operations
in Python*

1. Write a function ***calculate_stats(data: list[float]) -> tuple[float, float, float]***
that calculates the mean, median, and mode of a given list of numbers. (5 points)

In [54]:
def calculate_stats(data:list[float]):
    
    #Mean Calculation
    mean = sum(data) / len(data)
    
    #Median Calculation
    
    sorted_list = sorted(data)
    
    
    

data = [1, 2, 2, 3, 4]
print(calculate_stats(data))

None

2. Write a function ***variance_and_std(data: list[float]) -> tuple[float, float]*** that
calculates the variance and standard deviation of a dataset. (5 points)

3. Write a function ***weighted_mean(data: list[float], weights: list[float]) -> float***
that calculates the weighted mean of a dataset data given a corresponding list of weights
weights. Ensure both lists have the same length. (5 points)

## Exercise #4

*Analytical problems to develop problem-solving and logical reasoning
in Python*

1. Write a function ***is_palindrome(s: str) -> bool*** that checks if a given string s is a
palindrome. Return True if it is, False otherwise. (5 points)

2. Write a function ***reverse_words(sentence: str) -> str*** that reverses the words in a
sentence while preserving their order. (5 points

3. Write a function ***find_longest_word(words: list[str]) -> str*** that returns the longest
word from a list of strings. If there is a tie, return the first one. (5 points)

## Exercise #5

*Intermediate-level problems to reinforce Python concepts*

1. Write a function ***remove_duplicates(data: list[int]) -> list[int]*** that removes
duplicates from a list while preserving the order of elements. (5 points)

2. Write a function ***group_by_key(data: list[tuple[str, int]]) -> dict[str, list[int]]***
that groups values in data by their keys. For example, the input [(’a’, 1), (’b’, 2),
(’a’, 3)] results in the dictionary {’a’: [1, 3], ’b’: [2]}. (5 points)

3. Write a function ***flatten_list(nested_list: list[list[int]]) -> list[int]*** that
flattens a nested list of integers into a single list. For example, [[1, 2], [3, 4]] becomes
[1, 2, 3, 4]. (5 points)